 /* nebula */
 /* Light Mode */
 .keyword {
   color: #15803d;
   /* Dark Green */
 }

 .function {
   color: #0ea5e9;
   /* Sky Blue */
 }

 .punctuation {
   color: #64748b;
   /* Slate Gray */
 }

 .comment {
   color: #94a3b8;
   /* Muted Slate Gray */
 }

 .string,
 .constant,
 .annotation,
 .boolean,
 .number {
   color: #16a34a;
   /* Medium Green */
 }

 .tag {
   color: #15803d;
   /* Dark Green */
 }

 .attr-name {
   color: #0d9488;
   /* Teal */
 }

 .attr-value {
   color: #059669;
   /* Emerald Green */
 }

 /* Dark Mode */
 .dark .keyword {
   color: #86efac;
   /* Light Green */
 }

 .dark .function {
   color: #38bdf8;
   /* Sky Blue */
 }

 .dark .string,
 .dark .constant,
 .dark .annotation,
 .dark .boolean,
 .dark .number {
   color: #4ade80;
   /* Soft Lime Green */
 }

 .dark .tag {
   color: #86efac;
   /* Light Green */
 }

 .dark .attr-name {
   color: #34d399;
   /* Teal */
 }

 .dark .attr-value {
   color: #6ee7b7;
   /* Light Emerald */
 }