/* Default syntax highlighting theme for @ariadocs/react */

.keyword {
  color: #cf222e;
}

.function {
  color: #8250df;
}

.punctuation {
  color: #24292f;
}

.comment {
  color: #57606a;
}

.string,
.constant,
.annotation,
.boolean,
.number {
  color: #0a3069;
}

.tag {
  color: #116329;
}

.attr-name {
  color: #953800;
}

.attr-value {
  color: #0a3069;
}

/* Dark Mode */
.dark .keyword {
  color: #ff7b72;
}

.dark .function {
  color: #d2a8ff;
}

.dark .punctuation {
  color: #c9d1d9;
}

.dark .comment {
  color: #8b949e;
}

.dark .string,
.dark .constant,
.dark .annotation,
.dark .boolean,
.dark .number {
  color: #a5d6ff;
}

.dark .tag {
  color: #7ee787;
}

.dark .attr-name {
  color: #ffa657;
}

.dark .attr-value {
  color: #a5d6ff;
}
