@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
}

.prose {
    max-width: unset !important;
}

.dark {
    color-scheme: dark;
}

pre {
    padding: 0 !important;
}

pre>code {
    display: grid;
    padding: 18px 0 !important;
    font-size: 13.375px !important;
    font-family: 'Poppins';
}

.code-line {
    border-left: 3px solid transparent;
    padding: 0.75px 8px;
}

.dark .highlight-line {
    background-color: #373737;
    border-left: 3px solid #3b82f6;
}

.highlight-line {
    background-color: #e6e6e6;
    border-left: 3px solid #3b82f6;
}

.line-number::before {
    display: inline-block;
    width: 1rem;
    margin-right: 18px;
    margin-left: -2px;
    color: rgb(110, 110, 110);
    content: attr(line);
    text-align: right;
}

.dark .keyword {
    color: #ec5a5a;
}

.keyword {
    color: #e72020;
}

.dark .function {
    color: #c99cff;
}

.function {
    color: #963fff;
}


.punctuation {
    color: gray;
}

.comment {
    color: gray;
}

.dark .string,
.constant,
.annotation,
.boolean,
.number {
    color: #86b4ff;
}

.string,
.constant,
.annotation,
.boolean,
.number {
    color: #226feb;
}


.dark .tag {
    color: #72cb72
}

.tag {
    color: #069506
}

.attr-name {
    color: gray;
}

.dark .attr-value {
    color: #86b4ff;
}

.attr-value {
    color: #1a5dc8;
}

.anchor {
    color: #3b82f6 !important;
}

.rehype-code-title {
    @apply dark:bg-zinc-900;
    @apply bg-zinc-100;
    @apply px-2;
    @apply -mb-9;
    @apply rounded-md;
    @apply w-fit;
    @apply text-sm;
    @apply text-zinc-400;
    @apply py-1;
    @apply pb-4;
}